<div class="header">
  <h1>My Website</h1>

</div>

<div class="topnav">

  <a href="#" style="float:right"></a>
</div>

<div class="row">
  <div class="leftcolumn">
    <div class="card">
      <label for="website">Website:</label>
      <select [formControl]="order">
        <option value=''>Select Sorting</option>
        <option *ngFor="let sort of sorting" [value]="sort.id" >{{sort.name}}</option>
      </select>
      <h2>Put Filters here</h2>
      <label class="field-label">Species</label>
      <input id="human" class="speciesCheckBox" [formControl]="humanCheckbox" type="checkbox" /> Human
      <input id="mythology" class="speciesCheckBox" [formControl]="mythologyCheckbox" type="checkbox" /> Mythology
      <input id="other" class="speciesCheckBox" [formControl]="otherSpeciesCheckbox" type="checkbox" /> Other Species...
    </div>
    <div class="card">
      <h3>Put Filters here</h3>
      <div class="element">
        <label class="field-label">Gender</label>
        <input id="male" class="genderCheckBox" [formControl]="maleCheckbox" type="checkbox" /> Male
        <input id="female" class="genderCheckBox" [formControl]="femaleCheckbox" type="checkbox" /> Female
      </div>
    </div>
    <div class="card">
      <label class="field-label">Origin</label>
      <input id="earth" class="originCheckBox" [formControl]="earthCheckbox" type="checkbox" /> Earth
      <input id="nuptia" class="originCheckBox" [formControl]="nuptiaCheckbox" type="checkbox" /> Nuptia 4
      <input id="unknown" class="originCheckBox" [formControl]="unknownCheckbox" type="checkbox" /> Unknown
      <input id="otherOrigins" class="originCheckBox" [formControl]="otherOriginsCheckbox" type="checkbox" /> Other
      Origins...
    </div>
    <div class="fakeimg" style="height:200px;">Image</div>
  </div>
  <div class="rightcolumn">
    <div class="card">
      <input type="text" [formControl]="filter" placeholder="search by name">
      <div *ngIf="filteredStates$ | async as infoData">
        <div *ngFor="let data of infoData; let i = index">
          <!-- <img src="'{{image}}'" alt="e"> -->
          <div>
            <br>
            <h5>{{data.id}}</h5>
            <h5>{{data.name}}</h5>
            <h5>{{data.status}}</h5>
            <h5>{{data.gender}}</h5>
            <h5>{{data.species}}</h5>
            <h5>{{data.origin.name}}</h5>
            <h5>{{data.location.name}}</h5>
            <h5>{{data.year}}</h5>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>